{% extends './base.html' %}
{% block title %} iSnippets {% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-12">
    <h4>View Snippets</h4>
    <p>Here are some snippets that have already been made. Feel free to add your own by clicking on 'New Snippet' in the navigation above. If any of these snippets sound interesting to you, click on its title to view more.</p>
    {% if snippet_list %}
      <ul class="list-group">
      {% for snippet in snippet_list %}
        <li class="list-group-item">{{snippet.language|capfirst}}: {{ snippet.title|capfirst }}
          <div class="btn-group float-right">
            <a class="" href="/detail/{{snippet.id}}"><span type="submit" class="btn-sm btn-primary">View</span></a>
            <a class="" href="/delete/{{snippet.id}}"><span type="submit" class="btn-sm btn-danger">Delete</span></a>
          </div>
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>No snippets yet.</p>
    {% endif%}
  </div>
</div>

{% endblock %}